<div class="row" id="saved-articles">
    {{#each articles}}
    <div class="col-md-4 mb-5 article">
        <h5>{{title}}</h5>
        <div class="btn-group" role="group">
            <a class="btn btn-sm btn-info view-note" data-id="{{_id}}" href="#" role="button">View Notes</a>
            <a class="btn btn-sm btn-primary" href="{{link}}" target="_blank" role="button">Read Article</a>
            <a class="btn btn-sm btn-danger delete-article" data-id="{{_id}}" href="#" role="button">Remove Article</a>
        </div>
    </div>
    {{/each}}
</div>